#pragma code_page(65001)


1 ICON "app.ico"
2 RCDATA "logo_mask.bin"

1 VERSIONINFO
FILEVERSION 1,2,5,0
PRODUCTVERSION 1,2,5,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Razer Tray Community"
            VALUE "FileDescription", "razer-tray"
            VALUE "FileVersion", "1.2.5.0"
            VALUE "InternalName", "razer-tray"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "razer-tray.exe"
            VALUE "ProductName", "razer-tray"
            VALUE "ProductVersion", "1.2.5.0"
        END
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Razer Tray Community"
            VALUE "FileDescription", "razer-tray"
            VALUE "FileVersion", "1.2.5.0"
            VALUE "InternalName", "razer-tray"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "razer-tray.exe"
            VALUE "ProductName", "razer-tray"
            VALUE "ProductVersion", "1.2.5.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200, 0x0409, 1200
    END
END
