#pragma code_page(65001)

#define IDR_APP_PAYLOAD 1001

1 ICON "..\\res\\app.ico"
IDR_APP_PAYLOAD RCDATA "..\\bin\\razer-tray.exe"

1 VERSIONINFO
FILEVERSION 1,2,4,0
PRODUCTVERSION 1,2,4,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Iris"
            VALUE "FileDescription", "razer-tray 安装程序"
            VALUE "FileVersion", "1.2.4.0"
            VALUE "InternalName", "razer-tray-setup"
            VALUE "LegalCopyright", "Copyright (C) 2026 Iris"
            VALUE "OriginalFilename", "razer-tray-setup.exe"
            VALUE "ProductName", "razer-tray"
            VALUE "ProductVersion", "1.2.4.0"
        END
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Iris"
            VALUE "FileDescription", "razer-tray Setup"
            VALUE "FileVersion", "1.2.4.0"
            VALUE "InternalName", "razer-tray-setup"
            VALUE "LegalCopyright", "Copyright (C) 2026 Iris"
            VALUE "OriginalFilename", "razer-tray-setup.exe"
            VALUE "ProductName", "razer-tray"
            VALUE "ProductVersion", "1.2.4.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200, 0x0409, 1200
    END
END
